# wmake build artifacts
src/*/Make/darwin*/
src/*/Make/linux*/
src/*/lnInclude/

# Generated meshes (run blockMesh from blockMeshDict)
constant/polyMesh/
**/constant/polyMesh/

# Simulation output (timestep directories)
tutorials/*/*/[0-9]*/
tutorials/*/[0-9]*/
tutorials/*/[0-9][0-9]*/

# Decomposition artifacts
**/constant/polyMesh/cellProc
**/processor*/

# Logs and paraview files
**/log.*
**/blockMesh.log
**/*.foam

# macOS
.DS_Store
